* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #e8d6cb;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* SKIP STYLING */
.skip a {
    background: #000814;
    color:white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a {
    position: absolute;
    top: -40px;
}

.skip a:focus {
    position: absolute;
    top: 20px;
}

.skip a:hover {
    background: #910823;
}

/* END SKIP STYLING */

/* NAV BAR STYLING */
nav {
    background: #000814;
    height: 80px;
    width: 100%;
}

.logo {
    position:relative;
    left: 75px;
    color: #D9D9D9;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
    text-decoration: none;
}

.logo a:visited {
    color: #D9D9D9;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #FCEAE8;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    border-bottom: transparent solid 1px;
}

nav a.active,
nav a:hover {
    background: #910823;
    transition: .5s;
    color:white;
    border-bottom: red solid 1px;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#navLogo {
    text-decoration:none;
}

#check {
    display: none;
}

@media (max-width: 952px) {


    .navBar ul li a {
        font-size: 16px;
    }
}

@media (max-width: 850px) {
    .checkbtn {
        display: block;
    }

    .navBar ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000814;
        opacity: 0.9;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index:1;
    }

    .navBar ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .navBar ul li a {
        font-size: 20px;
    }

    .navBar a:hover,
    .navBar a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}

/* END NAV BAR STYLING */


/* INDEX STYLING */
.indexContainer {
    padding-top: 150px;
}

.aboutMe {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutMeText {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 100px;
}

.aboutMeText h1 {
    padding-top: 25px;
    font-size: 50px;
}

.aboutMeText h2 {
    padding-top: 10px;
    font-size: 40px;
}

.aboutMeText p {
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
    font-size: 20px;
}
.aboutMe img {
    border-radius: 50%;
}
/* END INDEX STYLING  */

/* CONTACT FORM STYLING */
.contactContainer {
    padding-top: 100px;
    padding-bottom: 80px;

}

.contactContainer h1,p
{
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;

}

.contactContainer label {
    font-size: 20px;
}
.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 93px;
}

input[type=text] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=textarea] {
    width: 75%;
    height: 100px;
    padding: 6px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

input[type=submit] {
    width: 75%;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(87, 108, 226);
    transition-delay: 0.05s;
}


/* END CONTACT FORM STYLING */


/* FOOTER STYLING */

footer {
    padding-top: 25px;
    text-align: center;
    background: #000814;
}

footer h1 {
    color: #ed254e;
    font-size: 45px;
}

.footerMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fa {
    font-size: 30px;
    width: 75px;
    padding: 25px 25px 25px 25px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    border-radius: 25px;

}

.fa:hover {
    color: black;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #cb2027;
    color: white;
}

.fa-facebook {
    background: blue;
    color: white;
}


.navLinks {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    padding: 15px;
}

.navLinks a {
    color: #FCEAE8;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    border-bottom: transparent solid 1px;
}

.navLinks a.active,
.navLinks a:hover {
    background: #910823;
    transition: .5s;
    border-bottom: red solid 1px;
}

/*END FOOTER STYLING */

/* Interests Styling */
.interestsContainer {
    text-align:center;
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

.interestsContainer img {
    width: 100%;
    height: 250px;
    object-fit:cover;
    padding-bottom: 25px;
}

.dropdown {
    display:none;
}

.interestsContainer h1 {
    font-size: 55px;
    padding-bottom: 20px;
}
.favSets1, .favSets2, .favSets3, h2{
    font-size: 35px;
    padding-bottom: 45px;
}

.interestsContainer p {
    font-size: 25px;
}

.imageCaption {
    display:none;
}

.desktopView {
    display:none;
}
/* end intersts styling */


/* PROJECTS STYLING */

.projectsContainer {
    background:#000814e8;
    padding-bottom: 200px;
}
.projectsContainer h1{
    padding-top: 55px;
    text-align:center;
    color: #ed254e;
    font-size: 55px;
}

.projects {
    padding-top: 100px;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
    row-gap: 50px;
}

.projectItems {
    justify-items:baseline;
    text-align:center;
    width: 70%;
}

.projectItems p {
    color:#ed254e;
    font-size: 25px;
}

.projectItems img {
    width: 100%;
    height:300px;
    object-fit:contain;
}

.tabletTabView {
    display:none;
}



/* END PROJECTS STYLING */


/* MEDIA QUERIES */

@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
        /* Removes scroll animation */
    }

    .skip a {
        -webkit-transition: none;
        /* sets to default setting */
        transition: none;
        /* sets to default setting */
    }

    /*Turn off parallax*/
    header {
        background-attachment: initial;
    }
}


@media screen and (min-width: 700px) {



/* PROJECTS STYLING */
.projects {
    grid-template-columns: auto auto; 
}

.tabletTabView {
    display:block;
    padding-bottom: 50px;
}

.tabletTabView ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabletTabView ul li a {
    color: #ed254e;
}

/* END PROJECTS STYLING  */

/* INTERESTS STYLING */

.interestsContainer img {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    width: 40%;
    height: auto;
    padding-bottom: 25px;
}

.dropdown {
    display:block;
    width:100%;
}

.dropdown-toggle {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.image1, .image2, .image3{
    display:flex;
    justify-content:baseline;
    justify-content:space-around;
}

.imageCaption {
    display:block;
    display:flex;
    justify-content:right;
    flex-direction:column;
}

.tempTitle {
    display:none;
}
.favSets1, .favSets2, .favSets3 {
    padding-bottom: 50  px;
}

.tabletTabView p {
    padding-top:10px;
    font-size: 20px;
}
/* END INTERESTS STYLING */

}

@media screen and (min-width: 1150px) {


/* INDEX STYLING  */
/* .aboutMe {
    display:flex;
    flex-direction: row;
    justify-content:baseline;
    align-items:baseline;
}

.aboutMeText {
    position:relative;
    bottom: 425px;
} */


/* INDEX STYLING  */

/* INTERESTS STYLING */

.interestsContainer {
    width:100%;
}
.image1, .image2, .image3 {
    flex-direction: row;
    justify-content:space-between;
}

.image1 img, .image2 img, .image3 img {
    padding-bottom: 100px;
    width: 50%;
    height: auto;
    padding-left: 25px;
}

.favSets h1{
    font-size: 55px;
    padding-bottom: 25px;
} 

.imageCaption {
    display:none;
}

.desktopView {
    display: block;
}

/* .tempTitle {
    display:block;
} */
/* END INTERESTS STYLING */
/* PROJECTS STYLING  */
.projects {
    grid-template-columns: auto auto auto;
    row-gap: 50px;
}



/* END PROJECTS STYLING */

/* CONTACT STYLING */
    .contactContainer {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .contactContainer h1,
    p {
        font-size: 40px;
    }

    .contactForm {
        display: flex;
        flex-direction: row;
    }
  

    input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=textarea] {
        width: 100%;
        height: 100px;
        padding: 6px 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        overflow-wrap: break-word;
    }

    input[type=submit] {
        width: 100%;
        background-color: blue;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: lightblue;
    }
/* END CONTACT STYLING */
}


/* END MEDIA QUERIES */